@using BlazorCCPro.Shared
@inject HttpClient Http

<body>
	

	@*<div class="search-container">
		<input type="text" placeholder="Zoek op naam" @bind="searchQuery" />
		<button @onclick="Search">Zoeken</button>
	</div>*@

	<div class="ClientenOverzicht_titel">
		<h3 >Clienten Overzicht</h3>
		<button class="button_clientToevoegen">Client toevoegen</button>
	</div>




<ul class="list-unstyled">
	@foreach (var clienten in clientens)
	{
		<li class="media my-3">
			
			<div class="media-body">
			 <div class="clientOverzicht_card_container2">
			  <div class="clientOverzicht_container">
				<div class="clientOverzicht_card"> 
					<img src="/ClientenOverzicht-img/profile-icon.png" alt="Profile image" />
					<div class="clientOverzicht_card_content">
						<h10 class="mb-0">@clienten.Voornaam @clienten.Achternaam <b>(31)</b></h10>
						<p>@clienten.Geboortedatum</p>
						<p>@clienten.Woonplaats</P> 
						<p>Begeleid wonen: @clienten.Begeleidwonen</p>
						<p>Ambulante begeleiding: @clienten.AmbulanteBegeleiding</p>
						<p>Geindiceerde ZZP-range: @clienten.GeindiceerdeZZPRange</p>
						<p>Aanmelddatum: @clienten.Aanmelddatum</p>
						<p>Afmelddatum: @clienten.Afmelddatum</p>
						<p>Aantal MIC meldingen: 1</p>
						<div class="card_buttons">
							<button class="button_clientWijzigen">Client wijzigen</button>
							<button class="button_clientVerwijderen">Client verwijderen</button>
						</div>
					</div>
				</div>

				<br>
			</div>
		</div>
				
			</div>
		</li>
	}
</ul>

</body>


@code {
	

}



