@using BlazorCCPro.Shared
@inject HttpClient Http

<body>
	
	@*<div class="ClientenOverzicht_titel">
		<h3 >Clienten Overzicht</h3>
		<button class="button_clientToevoegen">Client toevoegen</button>
	</div>*@

	<main>
	<div class="card-overall">
<div class="card-wrapper">
<section class="outer-container-card">
    <article class="inner-container-card">
      <div class="card-text">
      <h3>Woning A</h3>
      <p>Brinkweg 91, 1221 RN Hilversum</p>
      </div>
      <div class="card-img">
		<img class="card-img-profile" src="/ClientenOverzicht-img/profile-icon.png" alt="">
      </div>
    </article>
  <div class="card-button-wrapper">
    <button class="button-card" type="button">Meer info</button>
  </div>
</section>
</div>

<div class="card-wrapper">
<section class="outer-container-card">
    <article class="inner-container-card">
      <div class="card-text">
      <h3>Woning B</h3>
      <p>Brinkweg 91, 1221 RN Hilversum</p>
      </div>
      <div class="card-img">
		<img class="card-img-profile" src="/ClientenOverzicht-img/profile-icon.png" alt="">
      </div>
    </article>
  <div class="card-button-wrapper">
    <button class="button-card" type="button">Meer info</button>
  </div>
</section>

</div>

<div class="card-wrapper">
  <section class="outer-container-card">
    <article class="inner-container-card">
      <div class="card-text">
        <h3>Woning C</h3>
        <p>Brinkweg 91, 1221 RN Hilversum</p>
      </div>
      <div class="card-img">
		<img class="card-img-profile" src="/ClientenOverzicht-img/profile-icon.png" alt="">
      </div>
    </article>
    <div class="card-button-wrapper">
      <button class="button-card" type="button">Meer info</button>
    </div>
  </section>
</div>
</div>
</main>

    



<ul class="list-unstyled">
	@foreach (var clienten in clientens)
	{
		@*<li class="media my-3">
			
			<div class="media-body">
			 <div class="clientOverzicht_card_container2">
			  <div class="clientOverzicht_container">
				<div class="clientOverzicht_card"> 
					<img src="/ClientenOverzicht-img/profile-icon.png" alt="Profile image" />
					<div class="clientOverzicht_card_content">
						<h10 class="mb-0">@clienten.Voornaam @clienten.Achternaam <b>(31)</b></h10>
						<p>@clienten.Geboortedatum</p>
						<p>@clienten.Woonplaats</P> 
						<p>Begeleid wonen: @clienten.Begeleidwonen</p>
						<p>Ambulante begeleiding: @clienten.AmbulanteBegeleiding</p>
						<p>Geindiceerde ZZP-range: @clienten.GeindiceerdeZZPRange</p>
						<p>Aanmelddatum: @clienten.Aanmelddatum</p>
						<p>Afmelddatum: @clienten.Afmelddatum</p>
						<p>Aantal MIC meldingen: 1</p>
						<div class="card_buttons">
							<button class="button_clientWijzigen">Client wijzigen</button>
							<button class="button_clientVerwijderen">Client verwijderen</button>
						</div>
					</div>
				</div>

				<br>
			</div>
		</div>
				
			</div>
		</li>*@
	}
</ul>

</body>


@code {
	

}



